/*resets the users respective browser's default style settings*/
/*avoid's browser misinterpretation of the source code's desired display*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


header {
    /*padding: 20px 0px 0px 10px;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*allows horizontal positioning of sibling elements*/
/*retains vertical integrity. gives full block width*/
h1 {
    display: inline-block;
    font-size: 48px;
    padding: 35px 0px 0px 75px;
    line-height: 90%;
}

/*appealing "horizon" decoration to play-on client company name*/
h1:after{
    content: "";
    position: absolute;
    height: 70px;
    width: 215px;
    left: 68px;
    top: 6px;
    border-top: 1.5px solid white;
    border-radius: 50%;
}

.seo {
    color: #d9dcd6;
   
}

/*for better UI navigation experience and overall page appeal*/
nav {
    padding-top: 30px;
    margin-right: 55px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/*take away bullet points*/
ul {
    list-style-type: none;
}

/*horizontal alignment of list items*/
li {
    display: inline-block;
    margin-left: 55px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*will allow the top image to size itself within it's original dimensions*/
/*won't appear 'stretched'*/
.bannerimage {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size:cover;
    background-position: center;
}

/*display set to allow resizing of main element's child elements*/
/*also allows aside element position to flow naturally to the right side of page*/
main {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
 
.content {
    height: 250px;
    margin-bottom: 20px;
    background-color: #0072bb;
    text-align: center;
}

.content img {
    height: 98%;
    width: auto;
}

.content h2 {
    font-size: 36px;
}

.content p {
    font-size: 20px;
}

/*better alignment and spacing of the child elements inside the main article parent elements*/
.content img, .content h2, .content p {
    padding: 20px;
}

/*positioning main article image to left or right of respective container*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


aside {
    padding: 10px 16px 0px 16px;
    margin-right: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 98%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

.benefits h3 {
    margin-bottom: 10px;
}

.benefits img {
    width: 50%;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}